@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
   --main-black-color: #333;
   --secondary-black-color: #3d3d3d;
   --main-orange-color: #F58220;
   --main-white-color: #fff; 
   --light-grey-color1: #f5f5f5;
   --light-grey-color2: #ababab;
   --orange-hover-color: #faa65d;
   --hover-blue-color: #4aa5eb;
}

html {
   scroll-behavior: smooth;
}
body {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   background-color: var(--light-grey-color1);
   font-family: Roboto, sans-serif;
   font-size: 16px;
   height: 100vh;
   overflow-x: hidden;
}

/* === HEADER STYLING === */
header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   width: 100%;
   background-color: var(--main-black-color);
   color: var(--main-white-color);
}
.page-title > h1 {
   font-size: 1.6rem;
   font-weight: 500;
}
/* === HEADER STYLING END === */

#side-nav-section {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   width: 100%;
   height: calc(100% - 128px);
}

/* === SIDE MENU STYLING ===*/
#side-nav-container {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-direction: column;
   width: 17%;
   height: 100%;
   padding: 25px 0;
   background-color: var(--secondary-black-color);
    position: relative;
    left: -175px;
    left: 0px;
    transition: all 0.5s ease-in-out;
}
.side-menu {
   list-style: none;
   padding: 0;
   width: 100%;
}
.side-menu-item {
   padding: 0 30px;
   justify-content: flex-end;
   position: relative;
   display: flex;
   /* justify-content: space-evenly; */
   align-items: center;
   width: 100%;
   height: 65px;
   /* padding: 18px; */
   line-height: 1.5;
   color: var(--main-white-color);
   transition: all 0.2s ease-in-out;
   cursor: pointer;
}
.side-menu-item:after {
   position: absolute;
   right: 0;
   content: "";
   bottom: 0;
   width: 0%;
   height: 3px;
   background-color: #8ec6f0;
}
.side-menu-item:hover {
   background-color: var(--hover-blue-color);
   font-weight: 600;
   font-size: 17px;
}
.side-menu-item:hover:after {
   width: 100%;
   animation: side-menu-item-animation 0.3s ease-in-out forwards;
}
@keyframes side-menu-item-animation {
   from {
      width: 0%;
   }
   to {
      width: 100%;
   }
}
.side-menu-item:nth-child(2) .side-menu-item-icon-wrapper {
   transform: scale(-1, 1);
}
.side-menu-item-icon-wrapper {
   margin-left: 30px;
}
/* SIDE MENU STYLING END ===*/

/*=== MAIN CONTENT AREA STYLING ===*/
#main-container {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-direction: column;
   gap: 15px;
   width: 83%;
   height: 100%;
   padding: 20px;
   border-radius: 4px;
   background-color: var(--light-grey-color1);
   overflow: hidden;
   overflow-y: auto;
}
#content-output-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
}

/* FORM STYLING START */
#lg-equipment-yard-check-form {
   width: 100%;
   max-width: 600px;
   padding: 15px;
   background-color: var(--main-white-color);
   border: 1px solid var(--light-grey-color2);
   border-radius: 4px;
   filter: drop-shadow(0px 4px 3px var(--light-grey-color2));
}
.form-title-wrapper {
   width: 100%;
   height: max-content;
   padding: 10px;
   background-color: var(--main-white-color);
   margin-bottom: 10px;
   /* overflow-y: scroll; */
}
.form-title-underline {
   margin: 10px 0px;
   border-style: groove;
}
.form-control:nth-last-child(1) {
   margin-bottom: 20px;
}
.form-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   margin-bottom: 30px;
}
.form-title {
   font-size: 22px;
   font-weight: 600;
}
.date-time-title {
   font-size: 16px;
   font-weight: 500;
}
.form-wrapper {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-direction: column;
   gap: 25px;
}
.form-control {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-wrap: wrap;
   padding: 25px 15px;
   width: 100%;
   border-radius: 4px;
   border: 1px solid var(--light-grey-color1);
   background-color: var(--main-white-color);
   filter: drop-shadow(0px 4px 3px var(--light-grey-color2));
}
label {
   /* width: 100%; */
   flex-grow: 1;
}
input, textarea, select {
   border: 1px solid var(--light-grey-color2);
   background-color: var(--light-grey-color1);
   border-radius: 2px;
   padding: 5px 10px;
   height: 44px;
}
option {
   padding: 8px 0px;
}
input[type=text]
input::placeholder, textarea::placeholder, select::placeholder {
   color: rgba(158, 158, 158, 0.5);
   font-weight: 500;
}
input:focus, input[type=number]:focus, input[type=text]:focus,  input[type=email]:focus, input[type=date]:focus, textarea:focus, select:focus {
   border: 2px solid #4aa5eb;
   outline: none;
   box-shadow: 0 0 4px 1px rgba(74, 165, 235, 0.8);
}
#equipment-status-selection {
   width: 50%;
}
/* #equipment-description-input {
   width: 100%;
   text-transform: capitalize;
}
#service-description {
   width: 100%; 
   height: 80px;
}
#name-input {
   text-transform: capitalize;
} */
#submit-button-ydchk {
   padding: 15px 0;
   border-radius: 2px;
   border: none;
   color: var(--main-white-color);
   font-weight: 600;
   font-size: 18px;
   background-color: var(--main-orange-color);
   width: 100%;
}
#submit-button-ydchk:hover {
   background-color: var(--orange-hover-color);
   transition: all 0.3s ease-in-out;
}
/* FORM STYLING END */


/* Start Success message styling */
.alert-success-container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 350px;
   height: auto;
   background-color: var(--main-white-color);
   border-radius: 4px;
   border: 2px solid var(--light-grey-color2);
   padding: 18px;
   box-shadow: 0px 4px 15px 9px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0px 4px 15px 9px rgba(0,0,0,0.3);
   -moz-box-shadow: 0px 4px 15px 9px rgba(0,0,0,0.3);
   transition: all 0.3s ease-in-out;
   z-index: 10;
}
.alert-success-title {
   display: block;
   text-align: center;
   font-size: 22px;
   font-weight: bold;
   color: rgb(19, 145, 19);
   margin-bottom: 15px;
   width: 100%;
}
.alert-success-message {
   text-align: center;
   font-weight: 500;
   color: #727272;
   width: 100%
}
.close-popup-btn {
   border-radius: 2px;
   border: none;
   color: #727272;
   font-size: 18px;
   font-weight: 600;  
   width: 100%;
   height: 50px;
   margin-top: 25px;
   cursor: pointer;
}
.close-popup-btn:hover {
   color: var(--main-white-color);
   background-color: var(--orange-hover-color);
   transition: all 0.3s ease-in-out;
}
/* END Success message styling */

/* START FOOTER STYLING */
footer {
   /* position: fixed;
   bottom: 0px; */
   width: 100%;
   height: 50px;
   /* margin-top: 20px; */
   background-color: var(--main-black-color);
}
.footer-wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: 100%;
   padding: 20px;
}
.footer-col {
   font-size: 14px;
   color: var(--main-white-color);
}
/* ENDT FOOTER STYLING */


/* Responsive Styling */
@media screen and (max-width: 800px) {
   body {
      height: 100vh;
   }
   .page-title > h1 {
      font-size: 1rem;
   }
   #search-container {
      justify-content: center;
   }
   .search-bar-wrapper {
      width: 100%;
   }
   #search-input {
      padding-right: 140px;
      width: 100%;
   }
   #new-form-btn {
      width: 95%;
   }
   /* #entry-form-container {
      min-height: 100%;
   } */
   .form-header > h1 {
      padding-left: 10px;
   }
   #entry-form-container {
      width: 100%;
   }
}
/* End Responsive Styling */